
.page-header-inner{
    height: 60px;
    line-height: 60px;

    border-bottom: 1px solid #ccc;

    .page-title{
        font-size: 18px;
        font-weight: 600;
    }

    .actions-wrapper{
        span {
            margin-left: 15px;
             
            input {
                display: inline-block;
                width: inherit;
                font-size: 14px;
            }
            span{
                margin-left: 7px;
            }
        }
    }
}

.page-content{
    padding-top: 15px;
}