<header class="page-header container-fluid">
  <div class="row">
    <div class="col-12 page-header-inner">
        <div class="float-left page-title"> Add Contact </div>
    </div>
  </div>
</header>


<div class="page-content container">
  <div class="row">
    <div class="col-12">
      <form>
        <div class="form-group row">
          <label for="firstName" class="col-sm-2">First Name</label>
          <input type="text" class="form-control col-sm-10" id="firstName" placeholder="Enter First Name">
        </div>
        <div class="form-group row">
          <label for="lastName" class="col-sm-2">Last Name</label>
          <input type="text" class="form-control col-sm-10" id="lastName" placeholder="Enter Last Name">
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-2">Email address</label>
          <input type="email" class="form-control col-sm-10" id="email" placeholder="Enter Email Address">
        </div>
        <div class="form-group row">
          <label for="phoneNumber" class="col-sm-2">Last Name</label>
          <input type="text" class="form-control col-sm-10" id="phoneNumber" placeholder="Enter Phone Number">
        </div>
        <div class="form-group row">
          <label for="status" class="col-sm-2">Select Status</label>
          <select class="form-control col-sm-10" id="status">
            <option>Active</option>
            <option>Inactive</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn btn-primary float-left">Save</button>
          <button class="btn btn-primary float-left">Cancel</button>
        </div>
      </form>
    </div>
  </div>
   

</div>