
header {
    background-color: #4a148c;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #ffffff;

    h5{
        height: inherit;
        line-height: inherit;

        i{
            margin-right: 5px;
        }
    }
}