@import "../styles-variables.scss";


header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    

    .header-inner{
        background-color: $primary-color;
        height: 60px;
        line-height: 60px;
        color: #ffffff;
        position: relative;

        .menu-button{
            position: absolute;
            left: 15px;
            cursor: pointer;
        }
    
        h5{ 
            text-align: center;
            height: inherit;
            line-height: inherit;
    
            i{
                margin-right: 5px;
            }
        }
    }
}