/* variables for themes */

$primary-color: #4527a0;
$primary-light-color: #7953d2;
$primary-dark-color: #000070;

$secondary-color: #4527a0;
$secondary-light-color: #7953d2;
$secondary-dark-color: #000070;

$gray: #E0E0E0;
$light-gray: #F0F0F0;
$dark-gray: #DDDDDD; 