/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600");
@import url("../node_modules/font-awesome/css/font-awesome.min.css");
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import "styles-variables.scss";

* {
    font-family: 'Montserrat';
    font-weight: 500;
}

html, body {
    height: 100%;
}

body{
    padding-top: 60px;
    background-color: #fff;
    font-size: 14px;
}